.show-button-main{position: relative;top:100px;padding-left:50px;height: 50px;float: right;right:500px}
.show-button-items{position: relative;top:100px;height: 50px;float: left;left:350px;padding-right:20px}
.container-class{position: absolute;width:300px;height: 500px;border: 2px solid black;top:60px;background-color:#d6ebd0;z-index:-1}
.show-button-pay{position: fixed;top:480px;height: 50px;float: left;left:280px}
.container-items{position: relative;top:60px;height: 50px;float: left;left:60px;width:150px}
.container-amount{position: fixed;top:450px;height: 50px;float: left;left:100px}
.cart{position: relative;left:100px;width:60px;}
