<nav class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="#">FOOD SERVICE</a>
</nav>

<br>
<br>
<br>

<div class="container">
  <div class="jumbotron">
    <div class="align1">
      <h2 class="text1"> <b> HELLO !!</b></h2>
      <input type="text" ng-model="name" placeholder="enter your name" #name>
      <button routerLink="/main-page" routerLinkActive="active" type="button" class="btn btn-success" (click)="onUserClick(name.value)">ENTER</button><br>
      <img src="../src/assets/img/food.jpeg" class="img-responsive" alt="Food img" width="1200" height="100">
    </div>
  </div>
</div>
<!-- <app-bill  [totalPrice]="totalPrice" ></app-bill> -->
